In [67]:
# Import libraries
import numpy as np
import pandas as pd

In [68]:
# Read data from dataset into dataframe 
df = pd.read_csv('DMart.csv')

In [69]:
# Display first 5 rows
df.head()

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs
0,Premia Badam (Almonds),Premia,451.0,329.0,Grocery,Grocery/Dry Fruits,500 gm,India,Grocery > Grocery/Dry Fruits
1,Premia Badam (Almonds),Premia,109.0,85.0,Grocery,Grocery/Dry Fruits,100 gm,India,Grocery > Grocery/Dry Fruits
2,Premia Badam (Almonds),Premia,202.0,175.0,Grocery,Grocery/Dry Fruits,200 gm,India,Grocery > Grocery/Dry Fruits
3,Nutraj California Almonds (Badam),Nutraj,599.0,349.0,Grocery,Dry Fruits,500 gm,USA,Grocery > Dry Fruits
4,Nutraj California Almonds (Badam),Nutraj,1549.0,659.0,Grocery,Dry Fruits,1 kg,USA,Grocery > Dry Fruits

In [70]:
# Get information about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5189 entries, 0 to 5188
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             5188 non-null   object
 1   Brand            4789 non-null   object
 2   Price            5188 non-null   float64
 3   DiscountedPrice  5188 non-null   float64
 4   Category         5186 non-null   object
 5   SubCategory      5186 non-null   object
 6   Quantity         5188 non-null   object
 7   Description      5187 non-null   object
 8   BreadCrumbs      5186 non-null   object
dtypes: float64(2), object(7)
memory usage: 365.0+ KB

In [71]:
# Data Reduction
# Remove/reduce unnecessary attributes from dataframe
subset = df[['Name', 'Brand', 'Price', 'Category', 'Quantity', 'Description']]
subset.head()

,Name,Brand,Price,Category,Quantity,Description
0,Premia Badam (Almonds),Premia,451.0,Grocery,500 gm,India
1,Premia Badam (Almonds),Premia,109.0,Grocery,100 gm,India
2,Premia Badam (Almonds),Premia,202.0,Grocery,200 gm,India
3,Nutraj California Almonds (Badam),Nutraj,599.0,Grocery,500 gm,USA
4,Nutraj California Almonds (Badam),Nutraj,1549.0,Grocery,1 kg,USA

In [72]:
# Data Cleaning
# Find missing values
subset.isnull().sum()

Name             1
Brand          400
Price            1
Category         3
Quantity         1
Description      2
dtype: int64

In [73]:
# Define function for median
def impute_median(series):
    return series.fillna(series.median())

In [74]:


subset.Price=df['Price'].transform(impute_median)
subset.Category=df['DiscountedPrice'].transform(impute_median)

C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3461741369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.Price=df['Price'].transform(impute_median)
C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3461741369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset.Category=df['DiscountedPrice'].transform(impute_median)

In [75]:
subset.isnull().sum()

Name             1
Brand          400
Price            0
Category         0
Quantity         1
Description      2
dtype: int64

In [76]:
# Fill missing value of integer column with mode
subset['Brand'] = subset['Brand'].fillna(subset['Brand'].mode()[0])
subset['Category'] = subset['Category'].fillna(subset['Category'].mode()[0])
subset['Description'] = subset['Description'].fillna(subset['Description'].mode()[0])
subset['Name'] = subset['Name'].fillna(subset['Name'].mode()[0])
subset['Price'] = subset['Price'].fillna(subset['Price'].mode()[0])
subset['Quantity'] = subset['Quantity'].fillna(subset['Quantity'].mode()[0])

C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3468092684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Brand'] = subset['Brand'].fillna(subset['Brand'].mode()[0])
C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3468092684.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Category'] = subset['Category'].fillna(subset['Category'].mode()[0])
C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3468092684.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Description'] = subset['Description'].fillna(subset['Description'].mode()[0])
C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3468092684.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Name'] = subset['Name'].fillna(subset['Name'].mode()[0])
C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3468092684.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Price'] = subset['Price'].fillna(subset['Price'].mode()[0])
C:\Users\ARIHANT\AppData\Local\Temp\ipykernel_11296\3468092684.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Quantity'] = subset['Quantity'].fillna(subset['Quantity'].mode()[0])

In [77]:
subset.isnull().sum()

Name           0
Brand          0
Price          0
Category       0
Quantity       0
Description    0
dtype: int64

In [78]:
# Data Reduction 
subset1 = df[['Name', 'Brand', 'Price', 'Category']]
subset1.head()

                                Name   Brand   Price Category
0             Premia Badam (Almonds)  Premia   451.0  Grocery
1             Premia Badam (Almonds)  Premia   109.0  Grocery
2             Premia Badam (Almonds)  Premia   202.0  Grocery
3  Nutraj California Almonds (Badam)  Nutraj   599.0  Grocery
4  Nutraj California Almonds (Badam)  Nutraj  1549.0  Grocery

In [79]:
subset2 = df[['Category', 'Quantity', 'Description']]
subset2.head()

  Category Quantity Description
0  Grocery   500 gm       India
1  Grocery   100 gm       India
2  Grocery   200 gm       India
3  Grocery   500 gm         USA
4  Grocery     1 kg         USA

In [80]:
display(subset,subset1)

,Name,Brand,Price,Category,Quantity,Description
0,Premia Badam (Almonds),Premia,451.0,329.0,500 gm,India
1,Premia Badam (Almonds),Premia,109.0,85.0,100 gm,India
2,Premia Badam (Almonds),Premia,202.0,175.0,200 gm,India
3,Nutraj California Almonds (Badam),Nutraj,599.0,349.0,500 gm,USA
4,Nutraj California Almonds (Badam),Nutraj,1549.0,659.0,1 kg,USA
...,...,...,...,...,...,...
5184,Navneet Youva A4 Notebook - Assorted,Navneet,55.0,36.0,1 Book,OverviewEach book has an index page with label...
5185,Navneet Youva Longbook Journal - Assorted,Navneet,85.0,69.0,1 Book,OverviewStrong & sturdy case binding. Easy to ...
5186,Navneet Youva Long Notebook - Assorted,Navneet,55.0,40.0,1 Book,OverviewAttractive colour and designs. Easy to...
5187,Navneet Youva Drawing Book - Assorted,Navneet,110.0,72.0,1 Book,OverviewDrawing book has attractive cover desi...
5188,Navneet Youva Canvas Board (10x12 Inches),Navneet,90.0,75.0,1 U,OverviewCoated with a double layer of acrylic ...

,Name,Brand,Price,Category
0,Premia Badam (Almonds),Premia,451.0,Grocery
1,Premia Badam (Almonds),Premia,109.0,Grocery
2,Premia Badam (Almonds),Premia,202.0,Grocery
3,Nutraj California Almonds (Badam),Nutraj,599.0,Grocery
4,Nutraj California Almonds (Badam),Nutraj,1549.0,Grocery
...,...,...,...,...
5184,Navneet Youva A4 Notebook - Assorted,Navneet,55.0,School Supplies
5185,Navneet Youva Longbook Journal - Assorted,Navneet,85.0,School Supplies
5186,Navneet Youva Long Notebook - Assorted,Navneet,55.0,School Supplies
5187,Navneet Youva Drawing Book - Assorted,Navneet,110.0,School Supplies
5188,Navneet Youva Canvas Board (10x12 Inches),Navneet,90.0,School Supplies

In [81]:
# Data Integration
# Integrate/merge two dataframe
subset2 = pd.merge(subset,subset1,left_index=True, right_index=True)

In [82]:
subset2.head(20)

,Name_x,Brand_x,Price_x,Category_x,Quantity,Description,Name_y,Brand_y,Price_y,Category_y
0,Premia Badam (Almonds),Premia,451.0,329.0,500 gm,India,Premia Badam (Almonds),Premia,451.0,Grocery
1,Premia Badam (Almonds),Premia,109.0,85.0,100 gm,India,Premia Badam (Almonds),Premia,109.0,Grocery
2,Premia Badam (Almonds),Premia,202.0,175.0,200 gm,India,Premia Badam (Almonds),Premia,202.0,Grocery
3,Nutraj California Almonds (Badam),Nutraj,599.0,349.0,500 gm,USA,Nutraj California Almonds (Badam),Nutraj,599.0,Grocery
4,Nutraj California Almonds (Badam),Nutraj,1549.0,659.0,1 kg,USA,Nutraj California Almonds (Badam),Nutraj,1549.0,Grocery
5,Chana Dal,Premia,49.0,42.0,500 gm,India,Chana Dal,NaN,49.0,Grocery
6,Chana Dal,Premia,96.0,80.0,1 kg,India,Chana Dal,NaN,96.0,Grocery
7,Rajma White,Premia,112.0,102.0,500 gm,India,Rajma White,NaN,112.0,Grocery
8,Rajma Kashmiri Red,Premia,101.0,81.0,500 gm,India,Rajma Kashmiri Red,NaN,101.0,Grocery
9,Premia Mamra Badam,Premia,634.0,488.0,200 gm,India,Premia Mamra Badam,Premia,634.0,Grocery
10,Tata Sampann Chana Dal,Tata,64.0,49.0,500 gm,Overview:Chana dal is a staple in the Indian d...,Tata Sampann Chana Dal,Tata,64.0,Grocery
11,Tata Sampann Chana Dal,Tata,125.0,112.0,1 kg,Overview:Chana dal is a staple in the Indian d...,Tata Sampann Chana Dal,Tata,125.0,Grocery
12,Rajma Red Small,Premia,61.0,56.0,500 gm,India,Rajma Red Small,NaN,61.0,Grocery
13,Nutraj Almond,Nutraj,299.0,175.0,200 gm,"Allergen InformationContains tree nuts, This p...",Nutraj Almond,Nutraj,299.0,Grocery
14,Satyam Rajma Pink,Satyam,149.0,138.0,500 gm,OverviewRajma or Kidney beans are famously use...,Satyam Rajma Pink,Satyam,149.0,Grocery
15,KMK Almond Mamra (Badam),KMK,750.0,575.0,200 gm,StorageStore in a cool and dry place. Keep awa...,KMK Almond Mamra (Badam),KMK,750.0,Grocery
16,DMart Healthy Choice Unpolished Chana Dal,DMart Healthy Choice,117.0,94.0,1 kg,"OverviewFor most Indians, comfort food is alwa...",DMart Healthy Choice Unpolished Chana Dal,DMart Healthy Choice,117.0,Grocery
17,Satyam Rajma Sharmili,Satyam,129.0,119.0,500 gm,Key Features- Packed with care and hygiene.- P...,Satyam Rajma Sharmili,Satyam,129.0,Grocery
18,Satyam Chana Dal,Satyam,77.0,71.0,500 gm,OverviewChana Dal or Bengal Gram is used to ma...,Satyam Chana Dal,Satyam,77.0,Grocery
19,Tata Sampann 100% Organic Unpolished Chana Dal,Tata Sampann,190.0,171.0,1 kg,Overview:Chana dal is a staple in the Indian d...,Tata Sampann 100% Organic Unpolished Chana Dal,Tata Sampann,190.0,Grocery

In [84]:
# Data Transformation
from openpyxl import Workbook
subset2.to_excel('merge.xlsx')

ModuleNotFoundError: No module named 'openpyxl'